<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
<link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
<script src="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.js"></script>

<a href="../">Return to the main website</a><br>
The information is updated hourly, timezone is UTC.<br>
See our public Grafana dashboard <a href="http://pinot.cs.ucsb.edu:3010/public-dashboards/8f24a73770584e3a930bcbd1f7d9ae5a">here</a>.<br><br>

<table id="pinotNodesStatus" class="display compact"></table>
<script src="../assets/js/status_handler.js"></script>

