<style>
    .user {
        display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 50%;

        object-fit: cover;
    }
</style>

<h1>Team</h1>
<p>Contact email: <a href="mailto:pinot@cs.ucsb.edu">pinot@cs.ucsb.edu</a></p>

<h2>Current participants</h2>
<p>
    <img src="https://maybe-hello-world.github.io/images/profile.jpg" alt="" class="user">
<br>
<a href="https://maybe-hello-world.github.io/">Roman Beltiukov</a>
</p>

<p>
    <img src="https://sites.cs.ucsb.edu/~sanjaychandrasekaran/myphoto.jpeg" alt="" class="user">
    <br>
    <a href="https://sites.cs.ucsb.edu/~sanjaychandrasekaran/">Sanjay Chandrasekaran</a>
</p>

<p>
    <img src="https://navyabattula.github.io/Photo.jpg" alt="" class="user">
    <br>
    <a href="https://navyabattula.github.io/">Navya Battula</a>
</p>

<p>
    <img src="https://sites.cs.ucsb.edu/~arpitgupta/images/profile.jpeg" alt="" class="user">
    <br>
    <a href="https://sites.cs.ucsb.edu/~arpitgupta/">Arpit Gupta</a>
</p>

<h2>Past participants</h2>
<ul>
    <li>Abtin Bateni</li>
    <li>Nawel Alioua</li>
</ul>